{% extends '_base.html' %}
{% load static %}
{% block page_title %}
    Home
{% endblock %}

{% block content %}
        <body>
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <div class="thumb">
                            <div class="inner-content">
                                <h4>We Are Instyle</h4>
                                <span>Stay home and Shop online</span>
                                <div class="main-border-button">
                                    <a href="{% url 'product_list' %}">Purchase Now!</a>
                                </div>
                            </div>
                            <img src="{% static 'images/left-banner-image.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                        {% for category in categories %}

                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>{{ category|capfirst }}</h4>
                                            <span>Best of {{ category|capfirst }}</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>{{ category|capfirst }}</h4>
                                                <div class="main-border-button">
                                                    <a href="{{ category.get_absolute_url }}">Discover More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="{{ category.cover.url }}">
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

{% include 'subscribe.html' %}

  </body>
{% endblock %}