{% extends '_base.html' %}
{% load comment_tags %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}
    Products Detail
{% endblock %}

{% block content %}

    <!-- ***** Product Area Starts ***** -->
    <section class="section" id="product">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="left-images">
                        <img src="{% static 'images/single-product-01.jpg' %}" alt="">
                        <img src="{% static 'images/single-product-02.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="right-content">
                        <h4>{{ product.title }}</h4>
                        <span class="price">${{ product.price }}</span>
                        <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>{{ product.description }}</span>
                        <div class="quantity-content">
                            <div class="left-content">
                                <h6>No. of Orders</h6>
                            </div>
                            <div class="right-content">
                                <div class="quantity buttons_added">
                                    <input type="button" value="-" class="minus"><input type="number" step="1" min="1"
                                                                                        max="" name="quantity" value="1"
                                                                                        title="Qty"
                                                                                        class="input-text qty text"
                                                                                        size="4" pattern=""
                                                                                        inputmode=""><input
                                        type="button" value="+" class="plus">
                                </div>
                            </div>
                        </div>
                        <div class="total">
                            <h4>Total: $210.00</h4>
                            <div class="main-border-button"><a href="#">Add To Cart</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Product Area Ends ***** -->
    <section style="background-color: #eee;">
        <div class="container my-5 py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-10 col-xl-8">
                    <div class="card">
                        {% for comment in product.comments.all|only_active_comments %}
                            <div class="card-body">
                                <div class="d-flex flex-start align-items-center">
                                    <img class="rounded-circle shadow-1-strong m-3"
                                         src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar"
                                         width="60"
                                         height="60"/>
                                    <div>
                                        <h6 class="fw-bold text-dark-50">{{ comment.author.username }}</h6>
                                        <p class="text-muted small">
                                            Shared publicly - {{ comment.datetime_created }}
                                        </p>
                                    </div>
                                </div>
                                <p class="pb-2 ml-4">
                                    {{ comment.body }}
                                </p>
                            </div>
                            <hr>
                        {% endfor %}

                        <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                            {% if user.is_authenticated %}
                                <form action="{% url 'comment_create' product.id %}" method="post">
                                    {% csrf_token %}
                                    {{ comment_form|crispy }}
                                    <button type="submit" class="btn btn-dark btn-sm">Post comment</button>
                                </form>
                            {% else %}
                                <p>please <a href="{% url 'account_login' %}" style="color: black"><b>login</b></a> to
                                    drop comments</p>
                            {% endif %}
                            {#            <div class="d-flex flex-start w-100">#}
                            {#              <div class="form-outline w-100">#}
                            {#                <textarea class="form-control" id="textAreaExample" rows="4"#}
                            {#                  style="background: #fff;"></textarea>#}
                            {#                <label class="form-label" for="textAreaExample">Message</label>#}
                            {#              </div>#}
                            {#            </div>#}
                            {#            <div class="float-end mt-2 pt-1">#}
                            {#              <button type="submit" class="btn btn-dark btn-sm">Post comment</button>#}
                            {#            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}