{% extends '_base.html' %}
{% load comment_tags %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}
    Product Detail
{% endblock %}

{% block content %}
    {% include 'main_banner.html' with banner_title=product.title %}

    <!-- ***** Product Area Starts ***** -->
    <section class="section" id="product">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="left-images">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" style="border: 1px solid #000000; padding: 1px ">
                        {% endif %}
                        {% for image in product.images.all %}
                            {% if product.images %}
                                <img src="{{ image.image_field.url }}" style="border: 1px solid #000000; padding: 1px ">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="right-content">
                        <h4>{{ product.title|capfirst }}</h4>
                        <h5>{{ product.category }}</h5>
                        <span class="price text-dark">${{ product.price }}</span>
                        <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>{{ product.description|safe }}</span>
                        <form action="{% url 'cart:add_to_cart' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="quantity-content">
                                <div class="left-content">
                                    <h6 class="text-black-50">No. of Orders</h6>
                                </div>
                                <div class="right-content">
                                    <div class="quantity buttons_added">
                                        <input type="button" value="-" class="minus"><input type="number" step="1"
                                                                                            min="1"
                                                                                            max="30" name="quantity"
                                                                                            value="1"
                                                                                            title="Qty"
                                                                                            class="input-text qty text"
                                                                                            size="4" pattern=""
                                                                                            inputmode=""><input
                                            type="button" value="+" class="plus">
                                    </div>
                                </div>
                                <div class="total">
                                    <div class="main-border-button mt-1 ml-1">
                                        <button class="btn-lg btn-dark" type="submit">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Product Area Ends ***** -->
    <section style="background-color: #eee;">
        <div class="container my-5 py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-10 col-xl-8">
                    <div class="card">
                        {% for comment in product.comments.all|only_active_comments %}
                            <div class="card-body">
                                <div class="d-flex flex-start align-items-center">
                                    <img class="rounded-circle shadow-1-strong m-3"
                                         src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar"
                                         width="60"
                                         height="60"/>
                                    <div>
                                        <h6 class="fw-bold text-dark-50">{{ comment.author.username|capfirst }}</h6>
                                        <p class="text-muted small">
                                            Shared publicly - {{ comment.datetime_created }}
                                        </p>
                                    </div>
                                </div>
                                <p class="pb-2 ml-4">
                                    {{ comment.body|linebreaks }}
                                </p>
                                {% if comment.author == user %}
                                    <a href="{% url 'comment_delete' comment.id %}">
                                        <button class="btn btn-dark">Delete</button>
                                    </a>
                                    <a href="{% url 'comment_update' comment.id %}">
                                        <button class="btn btn-dark">Edit</button>
                                    </a>
                                {% endif %}
                            </div>
                            <hr>
                        {% endfor %}

                        <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                            {% if user.is_authenticated %}
                                <form action="{% url 'comment_create' product.id %}" method="post">
                                    {% csrf_token %}
                                    {{ comment_form|crispy }}
                                    <button type="submit" class="btn btn-dark btn-sm">Post Comment</button>
                                </form>
                            {% else %}
                                <p>please <a href="{% url 'account_login' %}" style="color: black"><b>Login</b></a> to
                                    drop comments</p>
                            {% endif %}
                            {#            <div class="d-flex flex-start w-100">#}
                            {#              <div class="form-outline w-100">#}
                            {#                <textarea class="form-control" id="textAreaExample" rows="4"#}
                            {#                  style="background: #fff;"></textarea>#}
                            {#                <label class="form-label" for="textAreaExample">Message</label>#}
                            {#              </div>#}
                            {#            </div>#}
                            {#            <div class="float-end mt-2 pt-1">#}
                            {#              <button type="submit" class="btn btn-dark btn-sm">Post comment</button>#}
                            {#            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}